<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.dao.DutyDao">
    <select id="selectByKey" resultType="com.th.bean.Duty">
        select duty_id, duty_name from `t_role_duty`
             where  duty_id = #{dutyId}
    </select>

    <select id="selectDutyList" resultType="com.th.bean.Duty">
        select duty_id, duty_name from `t_role_duty`

    </select>
</mapper>