<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.dao.DutyInstitutionDao">
    <select id="selectDutyInstitutionByKeys" resultType="com.th.bean.DutyInstitution">
        select
         duty_institution_id id,
         d1.duty_id duty_id,
         d1.duty_name duty_name,
         i2.institution_id institution_id,
         i2.institution_name institution_name
        from t_role_duty d1,t_role_institution i2,t_role_duty_institution di3
        where
            d1.duty_id=di3.duty_id
            and  i2.institution_id =di3.institution_id
            and  di3.duty_id = #{dutyId}
            and di3.institution_id =#{institutionId}    ;
    </select>
    <select id="selectDutyInstitutionList" resultType="com.th.bean.DutyInstitution">
              select
         duty_institution_id id,
         d1.duty_id duty_id,
         d1.duty_name duty_name,
         i2.institution_id institution_id,
         i2.institution_name institution_name
        from t_role_duty d1,t_role_institution i2,t_role_duty_institution di3
        where
            d1.duty_id=di3.duty_id
            and  i2.institution_id =di3.institution_id
    </select>
</mapper>